<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

                    <title>Trip</title>
                    </head>
                    <body>
                        <div class="container">
                            <div class="row-md-4">
                                <p>Logo</p>
                                <p>Title</p>
                                <p>Tabs</p>
                                <p>Other shit</p>
                            </div>
                            <div class="row-md-8" id="week" th:each="dayEvents : ${daysList}">
                                <div class="col" style="display: table-cell; width: 14%; 
                                     background-color: lightgrey; border-radius: 10px; border-style: solid">
                                    <div class="day" style="background-color: #b2d0f9; 
                                         text-align: center; width: 100%; border-radius: 10px; 
                                         margin: 5px; border-style: solid" th:text="${#temporals.dayOfWeekName(dayEvents.day)}"></div>
                                    <button class="dayEvents" th:href="@{/showEvent/ + ${event.id}" th:value="${event.id}" style="text-align: center; 
                                            width: 100%; background-color: #b2d0f9;
                                            border-radius: 10px" th:each="event : ${dayEvents.events}">
                                        <div><a th:text="${event.name}"></a>
                                            <a th:text="${event.startTime}"></a>
                                            <a th:text="${event.location}"></a><hr/></div>
                                    </button>
                                </div>
                            </div>
                        </div>


                            <!-- Optional JavaScript -->
                            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                    </body>
                    </html>
